.principal-div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.dog-img {
    max-width: 50%;
    max-height: 10%;
    margin: 0 auto;
    padding: 2rem;
}

.principal-div .btn {
    width: 300px;
    margin: 0 auto;
}

.principal-div p {
    font-size: 25px;
}